<mat-card>
    <mat-card-title>Create New User</mat-card-title>
    <mat-card-content style="padding-top: 20px;">
        <form [formGroup]="addUserForm" (submit)="createUser()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="User Name" formControlName="username">
                    <mat-icon matSuffix>people</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].hasError('email')">
                        Email is not valid
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" formControlName="phone">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="addUserForm.controls['phone'].errors && addUserForm.controls['phone'].hasError('required')">
                        Phone number is required
                    </mat-error>
                    <mat-error *ngIf="addUserForm.controls['phone'].errors && addUserForm.controls['phone'].hasError('maxlength')">
                        Phone number should be 10 digits
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <button mat-raised-button color="primary" [disabled]="!addUserForm.valid">Create User</button>
            </p>
        </form>
    </mat-card-content>
</mat-card>